<div class="container-card">
    <div class="row">
        <div class="col-md-12 md-6">
            <div class="card-deck">
                <div class="card">
                    {{!-- Iterating Dynamic data --}}
                    <div class="card-body">
                        <h4 class="card-title">{{companies.name}}</a></h4>
                        <hr>
                        <label for="address"><strong>Address:</strong></label>
                        <p>{{companies.address}}</p>
                        <label for="revenue"><strong>Revenue:</strong></label>
                        <p>{{companies.revenue}}</p>
                        <label for="phone"><strong>Phone no:</strong></label>
                        <p>{{companies.phone}}</p>
                        <div class="btn-holder">
                            <a href="/" class="btn btn-secondary">Back to Overview</a href="/">
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container-card">
    <div class="row">
{{!-- Checking if the data is empty or not --}}
    {{#isEmpty offices.length 0}}
        <div class="container" style="text-align:center">
            <h3>there is no office created yet, Please create a new Office</h3>
            <a href="/" class="btn btn-primary">Create Office</a>
        </div>
    {{else}}
    {{!-- if it is empty it will iterate the data --}}
        {{#each offices}}
        <div class="col-md-6">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <button class="close" type=+"button" data-toggle="modal" data-target="#deleteOffice">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h3 class="card-title"><strong>{{name}}</strong></h3>
                        <hr>
                        <label for="location"><strong>Location:</strong></label>
                        <p>Lat - {{latitude}}</p>
                        <p>Log - {{longitude}}</p>
                        <label for="date"><strong>Office Start Date:</strong></label>
                        <p>{{generateDate date 'L'}}</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    {{/isEmpty}}
    </div>
</div>