<div class="container-card">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Create Company</h3><hr>

                    <form class="companyForm" id="companyForm" name="companyForm" action="/company/create" method="POST">

                        <div class="form-group">

                            <label for="companyName">Name:</label>
                            <input required type="text" name="companyName" id="companyName" class="form-control"
                                placeholder="Enter Title">

                        </div>

                        <div class="form-group">
                            <label for="">Address:</label><br>
                            <input required type="text" name="address" id="address" class="form-control" placeholder="address">
                        </div>

                        <div class="form-group">
                            <label for="">Revenue:</label><br>
                            <input required type="text" name="revenue" id="revenue" class="form-control" placeholder="revenue">
                        </div>

                        <label>Phone No:</label>
                        <div class="form-group">
                            <input required id="phone" name="phone" type="tel" class="form-control">
                        </div>

                        <button type="submit" class="btn btn-primary btn-block companyButton" name="companyButton" id="companyButton">Create</button>

                    </form>


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Create Offices</h3><hr>

                    <form class="officeForm" name="officeForm" id="officeForm" action="/office/create?_method=get" method="post">

                        <div class="form-group">
                            <label for="name">Name:</label><br>
                            <input required type="text" name="officeName" id="officeName" class="form-control" placeholder="name">
                        </div>

                        <label>Location:</label>
                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <input required type="text" name="latitude" id="latitude" class="form-control" placeholder="latitude">
                            </div>

                            <div class="form-group col-md-6">
                                <input required type="text" name="longitude" id="longitude" class="form-control" placeholder="longitude">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">Date:</label><br>
                            <input required type="date" name="date" id="date" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="">Company:</label><br>
                                <select class="form-control" name="companies" id="companies">
                                {{#each companies}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                                </select>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block officeButton" name="officeButton" id="officeButton">Create</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-card">
    <h2>Companies</h2><hr>
    <div class="row">

    {{#isEmpty companies.length 0}}
        <div class="container" style="text-align:center">
            <h3>there is no companies created yet, Please enter a new Company</h3>
        </div>
    {{else}}
        {{#each companies}}

        <div class="col-md-6">
            <div class="card-deck">
                <div class="card">

                    <div class="card-body">
                        <form action="/company/{{id}}?_method=DELETE" method="POST">
                            <button class="close" type="submit" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                        </form>
                        <h4 class="card-title"><a class="nameComp" href="/company/{{id}}">{{name}}</a></h4>
                        <hr>
                        <label for="address">Address:</label>
                        <p>{{address}}</p>
                        <label for="revenue">Revenue:</label>
                        <p>{{revenue}}</p>
                        <label for="phone">Phone:</label>
                        <p>{{phone}}</p>

                        <hr>
                    </div>

                </div>
            </div>
        </div>
        {{/each}}
    {{/isEmpty}}
    </div>
</div>